@font-face {
   font-family: 'Baloo';
   src: url('../files/fonts/Baloo/Baloo.eot');
   src: url('../files/fonts/Baloo/Baloo.eot?#iefix') format('embedded-opentype'),
      url('../files/fonts/Baloo/Baloo.woff2') format('woff2'),
      url('../files/fonts/Baloo/Baloo.woff') format('woff'),
      url('../files/fonts/Baloo/Baloo.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}